body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f4f8;
    margin: 0;
    padding: 20px;
    color: #333;
}

.botones_input {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;
}

.boton {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.boton:hover {
    background-color: #007bff;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

#lista_sumariantes_div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
}


.sumariante_fila {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}

.sumariante_fila:hover {
    transform: translateY(-5px);
    box-shadow: 2px 6px 4px 3px rgba(14, 15, 83, 0.3);
}

.sumariante_fila strong {
    color: #222;
}

.sumariante_fila span {
    font-size: 0.95em;
    color: #555;
}

.sumariante_fila button {
    background-color: #1a1314b2;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 10px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.sumariante_fila button:hover {
    background-color: #a71d2a;
    transform: translateY(-2px);
}

